/* Media Library Buttons */
.k-page-view[data-template="media-library"] .k-header-buttons{
    display: none;
}


/* File Info String */
.k-file-info-string{
    display: block;
    line-height: 1.5;
}

.k-cards-item .k-file-info-string{
    display: inline-block;
    padding-top: .25rem;
}
