/* Hide header buttons for media library */
.k-page-view[data-template="media-library"] .k-header-buttons{
    display: none;
}


/* Enlarge file icons */
.k-files-section .k-items[data-layout="cards"][data-size="large"] .k-item-image .k-icon{
    --icon-size: 3rem;
}


/* Hide header buttons for settings page */
.k-page-view[data-template="settings"] .k-header-buttons .k-view-button.k-settings-view-button,
.k-page-view[data-template="settings"] .k-header-buttons .k-view-button.k-status-view-button{
    display: none;
}


/* File Info String */
.k-file-info-string{
    display: block;
    line-height: 1.5;
}

.k-cards-item .k-file-info-string{
    display: inline-block;
    padding-top: .25rem;
}
