/* Enlarge file icons */
.k-files-section .k-items[data-layout="cards"][data-size="large"] .k-item-image .k-icon{
    --icon-size: 3rem;
}


/* File Info String */
.k-file-info-string{
    display: block;
    line-height: 1.5;
}

.k-cards-item .k-file-info-string{
    display: inline-block;
    padding-top: .25rem;
}
